
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heroContainer {
    min-height: 50vh;
    max-height: 70vh;
    width: 100vw;
    margin-bottom: 4rem;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 20px 10px;
}

.heroMessageCon
{
    font-size: 20px;
    word-break: break-word;
    color: #004e98;
    font-family: 'Silkscreen', cursive;
}

.heroMessageCon b {
    text-decoration: underline;
    text-decoration-color: #111111;
    color: #fca311;
}

@media screen and (max-width: 630px) {
    .tableContainer {
        width: 100vw !important;
    }
    .table thead tr th {
        font-size: 12px;
    }

    .table tbody tr td {
        font-size: 11px;
    }
    .heroMessageCon
    {
        flex-basis: 100%;
    }
    .graphContainer{
        flex-basis: 100%;
    }
    .heroContainer {
        flex-wrap: wrap !important;
    }
}

@media screen and (max-width: 400px) {
    .table thead tr th {
        font-size: 10px;
    }

    .table tbody tr td {
        font-size: 9px;
    }
}



.graphContainer {
    height: 100%;
    width: 50vw;
    padding: 10px 0 10px 0;
}

.tableContainer {
    width: 90vw;
    overflow-x: auto;
}

.table {
    background-color: #ffffff;
}

.table thead tr th {
    color: #fca311;
    font-family: 'Silkscreen', cursive;
}

.table tbody tr {
    color: #004e98;
    font-family: 'Silkscreen', cursive;
}