
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heroContainer {
    min-height: 50vh;
    max-height: 70vh;
    width: 100vw;
    margin-bottom: 4rem;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 630px) {
 
}



.graphContainer {
    height: 100%;
    width: 50vw;
    padding: 10px 0 10px 0;
}

.tableContainer {
    width: 90vw;
}

.table {
    background-color: #ffffff;
}

.table thead tr th {
    color: #fca311;
    font-family: 'Silkscreen', cursive;
}

.table tbody tr {
    font-family: 'Silkscreen', cursive;
}